Cerberus==1.3.2
Eve==0.8.1
Events==0.3.0
Flask==2.0.2
Flask-Cors==3.1.1
Flask-Login==0.5.0
Flask-PyMongo==2.3.0
Flask-Restless==0.18.2
Flask-SQLAlchemy==3.0.0
Jinja2==3.0.3
Mako==1.1.5
MarkupSafe==2.1.0
Pillow==8.3.2
PySide==6.1.3
PyYAML==6.0
Pygments==2.10.0
SQLAlchemy==1.4.23
Scrapy==2.5.1
Twisted==22.4.0
Werkzeug==2.0.2
alembic==1.7.3
argparse==1.4.0
backports-abc==0.5
backports.ssl-match-hostname==3.7.0.3
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.6
characteristic==21.3.0
click==8.0.1
cryptography==3.4.8
cssselect==1.1.0
cycler==0.10.0
dataset==1.5.2
decorator==5.1.0
enum34==1.1.10
functools32==3.2.3.post2
gspread==4.0.0
httplib2==0.19.1
idna==3.3
ipaddress==1.0.24
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.1
jupyter-console==6.4.0
jupyter-core==4.8.1
lxml==4.6.4
matplotlib==3.4.3
mimerender==0.6.0
mistune==0.8.4
nbconvert==6.2.1
nbformat==5.1.3
ndg-httpsclient==0.5.1
normality==2.0.4
notebook==6.4.5
numpy==1.21.2
oauth2client==4.1.3
oauthlib==3.1.1
pandas==1.3.3
path.py==12.5.0
pexpect==4.8.0
pickleshare==0.7.5
ptyprocess==0.7.0
py==1.10.0
pyOpenSSL==21.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pymongo==3.12.0
pyparsing==3.0.3
pytest==6.2.5
python-dateutil==2.8.2
python-editor==1.0.4
python-mimeparse==1.6.0
pytz==2021.3
pyzmq==22.3.0
qtconsole==5.2.1
queuelib==1.7.2
requests==2.26.0
requests-cache==0.7.0
requests-oauthlib==1.3.1
rsa==4.8
scipy==1.7.3
seaborn==0.11.2
service-identity==21.1.0
simplegeneric==0.8.1
simplejson==3.17.5
singledispatch==4.0.0
six==1.16.0
terminado==0.12.1
tornado==6.1
traitlets==5.1.0
tweepy==4.1.1
w3lib==1.22.0
wsgiref==0.1.2
zope.interface==5.4.0
