Cerberus==1.3.2
Eve==0.8.1
Flask==2.2
Flask-SQLAlchemy==3.0.0
Jinja2==3.0.3
Pillow==8.3.2
SQLAlchemy==1.4.23
Scrapy==2.5.1
beautifulsoup4==4.9.3
ipython==7.28.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.1
jupyter-console==6.4.0
jupyter-core==4.8.1
matplotlib==3.4.3
notebook==6.4.5
numpy==1.21.2
oauth2client==4.1.3
oauthlib==3.1.1
pandas==1.3.3
pymongo==3.12.0
pyparsing==3.0.3
pytest==6.2.5
requests==2.26.0
requests-cache==0.7.0
requests-oauthlib==1.3.1
rsa==4.8
scipy==1.7.3
seaborn==0.11.2


