<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blood Tests Visualization App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v6.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    

    <style>
        .flexcontainer {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            gap: 200px;
            
            margin-top: 50px;
        }
        
        #heatmap, #pieChart {
            width: 200px; /* Adjust the width as needed */
        }
        .active {
            background-color: blue;
            color: white;
        }

        .form-control-file {
            width: 300; /* Adjust the width of the dropdown */
            padding: 8px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            outline: none;
          }
          
          .dropdown_item {
            width: 300px; /* Adjust the width of the dropdown */
            padding: 5px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            outline: none;
          }
    </style>
    
</head>
<body>
<div class="container mt-3">
    <h1 class="mb-4">Blood Tests Visualization App</h1>

    <div class="row">
        <!-- First Card -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Patient Information
                </div>
                <div class="card-body">
                    
                    <form id="patientInfoForm"  style="padding-top: 20px;">
                        <!-- Prevents default form submission -->
                        <div class="form-group">
                            <label for="patientIDPatientInfo">Patient ID</label>
                            <input type="text" class="form-control" id="patientIDPatientInfo" name="patientIDPatientInfo" placeholder="Enter patient ID">
                        </div>
                    </form>
                </br>
                    <div id="patientInfo"></div>

                    <div>
                        <label for="blood_test_dates" id="blood_test_dates">Available Blood Tests Dates</label>
                        <ul></ul>
                    </div>
                    
                </div>
            </div>
        </div>

<!-- Create a div where the graphs will take place -->
        <div class="col-md-1">
            <div id="pieChart"></div>
        </div>

        <div class="col-md-8">
            <div id="date"></div>
            <div id="heatmap"></div>
            
        </div>

    </div>
</div>

<div class="container mt-5">
    <!-- Your dropdown code goes here -->
    <div class="mt-3">
        <select id="bloodIndicators" class="form-control dropdown_item">
            <option disabled selected>Select Blood Indicator over time...</option>
            <option value="Albumin (g/L)" name="Albumin">Albumin (g/L)</option>
            <option value="Alanine aminotransferase ALT (U/L)" name="Alanine aminotransferase ALT (U/L)">Alanine aminotransferase ALT (U/L)</option>
            <option value="Aspartate aminotransferase AST (U/L)" name="Aspartate aminotransferase AST (U/L)">Aspartate aminotransferase AST (U/L)</option>
            <option value="Alkaline phosphatase (U/L)" name="Alkaline phosphatase (U/L)">Alkaline phosphatase (U/L)</option>
            <option value="Blood urea nitrogen (mmol/L)" name="Blood urea nitrogen (mmol/L)">Blood urea nitrogen (mmol/L)</option>
            <option value="Total calcium (mmol/L)" name="Total calcium (mmol/L)">Total calcium (mmol/L)</option>
            <option value="Creatine Phosphokinase (CPK) (IU/L)" name="Creatine Phosphokinase (CPK) (IU/L)">Creatine Phosphokinase (CPK) (IU/L)</option>
            <option value="Cholesterol (mmol/L)" name="Cholesterol (mmol/L)">Cholesterol (mmol/L)</option>
            <option value="Bicarbonate (mmol/L)" name="Bicarbonate (mmol/L)">Bicarbonate (mmol/L)</option>
            <option value="Creatinine (umol/L)" name="Creatinine (umol/L)">Creatinine (umol/L)</option>
            <option value="Gamma glutamyl transferase (U/L)" name="Gamma glutamyl transferase (U/L)">Gamma glutamyl transferase (U/L)</option>
            <option value="Glucose, serum (mmol/L)" name="Glucose, serum (mmol/L)">Glucose, serum (mmol/L)</option>
            <option value="Iron, refrigerated (umol/L)" name="Iron, refrigerated (umol/L)">Iron, refrigerated (umol/L)</option>
            <option value="Lactate Dehydrogenase (U/L)" name="Lactate Dehydrogenase (U/L)">Lactate Dehydrogenase (U/L)</option>
            <option value="Phosphorus (mmol/L)" name="Phosphorus (mmol/L)">Phosphorus (mmol/L)</option>
            <option value="Total bilirubin (umol/L)" name="Total bilirubin (umol/L)">Total bilirubin (umol/L)</option>
            <option value="Total protein (g/L)" name="Total protein (g/L)">Total protein (g/L)</option>
            <option value="Uric acid (umol/L)" name="Uric acid (umol/L)">Uric acid (umol/L)</option>
            <option value="Sodium (mmol/L)" name="Sodium (mmol/L)">Sodium (mmol/L)</option>
            <option value="Potassium (mmol/L)" name="Potassium (mmol/L)">Potassium (mmol/L)</option>
            <option value="Chloride (mmol/L)" name="Chloride (mmol/L)">Chloride (mmol/L)</option>
            <option value="Osmolality (mmol/Kg)" name="Osmolality (mmol/Kg)">Osmolality (mmol/Kg)</option>
            <option value="Globulin (g/L)" name="Globulin (g/L)">Globulin (g/L)</option>
            <option value="Triglycerides (mmol/L)" name="Triglycerides (mmol/L)">Triglycerides (mmol/L)</option>
        </select>
    </div>



<div class="mt-3" id="resultsContainer"></div>
    <div id="histogram"></div>
</div>

<div class="mt-3" id="resultsContainer"></div>
    <div id="histogram"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



<script>
    
    
    let input = document.getElementById('patientIDPatientInfo');
    input.addEventListener('input', async function () {
        // Get values from form inputs
        var patientID = input.value;

        // Check if there is no input
        if (!patientID) {
            // Clear patient information and blood test dates if no input
            document.getElementById('patientInfo').innerHTML = '';
            document.querySelector('ul').innerHTML = '';
            return;
        }

        // Use JavaScript to fetch patient data
        const patientData = await fetchPatientData(patientID);

        // Display patient information
        displayPatientInfo(patientData);

        // Fetch and display blood dates
        let response = await fetch('/blood_dates?q=' + patientID);
        let dates = await response.json();
        let html = '';
        for (let date of dates) {
            html += `<li><button class="date-button" onclick="drawHeatmap('${patientID}', '${date.DATE}'); toggleButton(this); return false;">${date.DATE}</button></li>`;
        }

        document.querySelector('ul').innerHTML = html;
    });

    async function fetchPatientData(patientID) {
        const url = `/${patientID}/raw`;

        try {
            const response = await fetch(url, { method: 'POST' });
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        } catch (error) {
            console.error('Error fetching patient data:', error);
            // Handle errors here, e.g., display an error message to the user
        }
    }

    function displayPatientInfo(data) {
        if (data && data.length > 0) {
            const patientInfo = data[0];
            const patientInfoHtml = `
                <p><strong>Patient ID:</strong> ${patientInfo.ID}</p>
                <p><strong>First Name:</strong> ${patientInfo.FIRST_NAME}</p>
                <p><strong>Last Name:</strong> ${patientInfo.LAST_NAME}</p>
                <p><strong>Birth Date:</strong> ${patientInfo.BIRTH_DATE}</p>
                <p><strong>Gender:</strong> ${patientInfo.GENDER}</p>
                <p><strong>Age:</strong> ${patientInfo.AGE}</p>
            `;
            document.getElementById('patientInfo').innerHTML = patientInfoHtml;
        } else {
            // Clear patient information if there's no data
            document.getElementById('patientInfo').innerHTML = '';
        }
    }


    
    let dropdown = document.getElementById('bloodIndicators');
    dropdown.addEventListener('change', async function () {
        try {
            let response = await fetch('/all_blood_tests/raw/' + input.value);
            let blood_tests = await response.json();
            getValuesOverTime(blood_tests, dropdown.value);
        } catch (error) {
            console.error('Error fetching or parsing data:', error);
        }
    });

    function getValuesOverTime(formattedBloodTests, selectedIndicator) {
        // Filter blood tests for the selected indicator
        const filteredTests = formattedBloodTests.filter(test => selectedIndicator in test);
    
        // Check if the selected indicator is present in the test
        if (filteredTests.length === 0) {
            console.log('No data found for the selected indicator:', selectedIndicator);
            document.getElementById('resultsContainer').innerHTML = 'No data found for the selected indicator: ' + selectedIndicator;
            return;
        }
    
        // Extract dates and values for the selected indicator
        const blood_indicator_history = filteredTests.map(test => {
            return {
                DATE: test['DATE'][0],
                Value: test[selectedIndicator]
            };
        });
    
        // Display results on the screen
        const resultContainer = document.getElementById('resultsContainer');
        //resultContainer.innerHTML = '<h4>Results overtime for ' + selectedIndicator + '</h4>';
    
        
        generateHistogram(blood_indicator_history,selectedIndicator )
    }

    function generateHistogram(data, selectedIndicator) {
        d3.select('#histogram').selectAll('*').remove();
        // Set up margin, width, and height
        const margin = { top: 50, right: 20, bottom: 100, left: 40 };
        const width = 700 - margin.left - margin.right;
        const height = 400 - margin.top - margin.bottom;
    
        // Create SVG element
        const svg = d3.select("#histogram")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
        // Extract unique values for color mapping
        const uniqueColors = Array.from(new Set(data.map(entry => entry.Value[1])));
    
        // Define color scale
        const colorScale = d3.scaleOrdinal()
            .domain(['green', 'yellow', 'red'])
            .range(['green', '#ffd800', '#c80815']);
    
        // Set up X and Y scales
        const xScale = d3.scaleBand()
            .domain(data.map(entry => entry.DATE))
            .range([0, width])
            .padding(0.1);
    
        const yScale = d3.scaleLinear()
            .domain([0, d3.max(data, entry => entry.Value[0])])
            .range([height, 0]);
    
        // Add X-axis
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(xScale))
            .selectAll("text")
            .style("text-anchor", "end")
            .attr("transform", "rotate(-45)")
            .attr("dy", ".35em")
            .attr("dx", "-.8em")
            .style("font-size", "12px"); // Adjust the font size as needed
    
        // Add Y-axis
        svg.append("g")
            .call(d3.axisLeft(yScale))
            .selectAll("text")
            .style("font-size", "12px");
    
        // Add title
        svg.append("text")
            .attr("x", width / 2)
            .attr("y", 0 - margin.top / 2)
            .attr("text-anchor", "middle")
            .style("font-size", "16px")
            .text(`${selectedIndicator} Over Time`);
    
        // Add bars
        svg.selectAll(".bar")
            .data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", entry => xScale(entry.DATE))
            .attr("y", entry => yScale(entry.Value[0]))
            .attr("width", xScale.bandwidth()) 
            .attr("height", entry => height - yScale(entry.Value[0]))
            .attr("fill", entry => colorScale(entry.Value[1]))
    
        // Add labels for each bar
        svg.selectAll(".bar-label")
            .data(data)
            .enter().append("text")
            .attr("class", "bar-label")
            .attr("x", entry => xScale(entry.DATE) + xScale.bandwidth() / 2)
            .attr("y", entry => yScale(entry.Value[0]) - 5) // Adjust the vertical position as needed
            .attr("text-anchor", "middle")
            .style("font-size", "12px") // Adjust the font size as needed
            .text(entry => entry.Value[0]);
    }
    
    
    
    


    let activeButton = null;

    function toggleButton(button) {
        if (activeButton) {
            // If there's an active button, remove the 'active' class
            activeButton.classList.remove('active');
        }

        // Add the 'active' class to the clicked button
        button.classList.add('active');
        // Set the clicked button as the active button
        activeButton = button;
    }




    


    function drawHeatmap(patientID, date) {

        // Remove existing SVG element
        d3.select('#heatmap').selectAll('*').remove();
        d3.select('#date').remove();
        fetch(`/blood_tests/raw/${patientID}?date=${date}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
                
            })
            .then(data => {
                
            const combined_dict = data; 
            // Convert data to suitable format
            const dataArray = [];
            const dict = data; // Assuming there's only one dictionary in the list
            drawPieChart(dict)

            // Iterate over the dictionary entries
            for (const [key, [value, color]] of Object.entries(dict)) {
                dataArray.push({ key, value, color });
            }

            // Now dataArray contains the desired structure without the reference
            console.log(dataArray);

            // Define margin and cell size
            const margin = { top: 10, right: 20, bottom: 20, left: 200 };
            const cellSize = 30;
            const cellWidth = 200;
            const cellHeight = 25;

            d3.select('#date').text(`Blood test: ${date}`);
            // Create SVG element
            const svg = d3.select('#heatmap').append('svg')
                .attr('width', 600) // Increased width to accommodate values on the right
                .attr('height', dataArray.length * cellHeight + margin.top + margin.bottom)
                .style('margin', margin.top + 'px ' + margin.right + 'px ' + margin.bottom + 'px ' + margin.left + 'px');

            // Define color scale based on color strings
            const colorScale = d3.scaleOrdinal()
                .domain(['green', 'yellow', 'red'])
                .range(['green', '#ffd800', '#c80815']);

            // Draw cells
            svg.selectAll('rect')
                .data(dataArray)
                .enter().append('rect')
                .attr('x', margin.left)
                .attr('y', (d, i) => margin.top + i * cellHeight)
                .attr('width', cellWidth)
                .attr('height', cellHeight)
                .style('fill', d => colorScale(d.color))
                .on('mouseover', function (event, d) {
                    // Display blood level on mouse hover
                    d3.select(this).append('title').text(`Blood Level: ${d.value}`);
                });

            // Add y-axis labels with word wrapping
            svg.selectAll('text')
            .data(dataArray)
            .enter().append('text')
            .attr('x', margin.left - 10)
            .attr('y', (d, i) => margin.top + i * cellHeight + cellHeight / 2)
            .attr('dy', '0.10em')
            .style('text-anchor', 'end')
            .style('alignment-baseline', 'middle')
            .style('fill', 'black')
            .text(function (d) {
                // Extract and display only the relevant part of the key
                const words = d.key.split(/\s+/);
                const keyWithoutUnits = words.slice(0, -1).join(' '); // Exclude the last word (metric unit)
                return keyWithoutUnits;
            });

            // Draw black lines between cells
            svg.selectAll('line')
                .data(dataArray)
                .enter().append('line')
                .attr('x1', margin.left)
                .attr('x2', margin.left + cellWidth)
                .attr('y1', (d, i) => margin.top + (i + 1) * cellHeight)
                .attr('y2', (d, i) => margin.top + (i + 1) * cellHeight)
                .style('stroke', 'black');

            
            // Add text elements to display values and metric units on the right side of the heatmap
            svg.selectAll('.value-text')
            .data(dataArray)
            .enter().append('text')
            .attr('class', 'value-text')
            .attr('x', margin.left + cellWidth + 10)
            .attr('y', (d, i) => margin.top + i * cellHeight + cellHeight / 2)
            .attr('dy', '0.20em')
            .style('fill', 'black')
            .text(d => `${d.value} ${d.key.split(/\s+/).pop()}`); // Only display the last part of the key

            

        })
        .catch(error => {
            console.error('Error fetching data:', error);
            // Add error handling here, e.g., display an error message to the user
        });
}

    

    function calculateColorPercentages(blood_test) {
    let green = 0.0;
    let yellow = 0.0;
    let red = 0.0;

    // Iterate over the properties of the blood_test object
    for (const key of Object.keys(blood_test)) {
        const color = blood_test[key][1];

        if (color === "green") {
            green += 1;
        }
        if (color === "yellow") {
            yellow += 1;
        }
        if (color === "red") {
            red += 1;
        }
    }

    const totalIndicators = 22;
    const percentages = [green / totalIndicators, yellow / totalIndicators, red / totalIndicators];

    return percentages;
}




    function drawPieChart(data) {
        d3.select('#pieChart').selectAll('*').remove();
        const percentages = calculateColorPercentages(data);

        const width = 200;
        const height = 200;
        const radius = Math.min(width, height) / 2;

        const color = d3.scaleOrdinal()
            .domain(['Green', 'Yellow', 'Red'])
            .range(['green', '#ffd800', '#c80815']);

        const pie = d3.pie()
            .value(d => d)
            .sort(null);

        const arc = d3.arc()
            .innerRadius(0)
            .outerRadius(radius);

        const svg = d3.select("#pieChart")
            .append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", `translate(${width / 2},${height / 2})`);

        const dataValues = Object.values(percentages);

        const chartData = pie(dataValues);

        const path = svg.selectAll("path")
            .data(chartData)
            .enter()
            .append("path")
            .attr("d", arc)
            .attr("fill", (d, i) => color(i));

        // Add percentage labels
        svg.selectAll("text")
            .data(chartData)
            .enter()
            .append("text")
            .text((d, i) => `${(percentages[i] * 100).toFixed(2)}%`)
            .attr("transform", d => `translate(${arc.centroid(d)})`)
            .style("text-anchor", "middle")
            .style("fill", "black");

        // Add legend
        const legend = svg.selectAll(".legend")
            .data(color.domain())
            .enter()
            .append("g")
            .attr("class", "legend")
            .attr("transform", (d, i) => `translate(0,${i * 20})`);

        legend.append("rect")
            .attr("x", width - 18)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", color);

        legend.append("text")
            .attr("x", width - 24)
            .attr("y", 9)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(d => d);
    }


</script>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>