<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blood Tests Visualization App</title>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
   
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    

    <style>
        
        #heatmap {
            width: 200px; /* Adjust the width as needed */
        }
        .active {
            background-color: blue;
            color: white;
        }

        .form-control-file {
            width: 300; /* Adjust the width of the dropdown */
            padding: 8px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            outline: none;
          }
          
          .dropdown_item {
            width: 300px; /* Adjust the width of the dropdown */
            padding: 5px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            outline: none;
          }
    </style>
    
</head>
<body>
<div class="container-fluid mt-2">
    

    <div class="row">
        <!-- First Card -->
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">
                    Patient Information
                </div>
                <div class="card-body">
                    
                    <form id="patientInfoForm"  style="padding-top: 10px;">
                        <!-- Prevents default form submission -->
                        <div class="form-group">
                            <label for="patientIDPatientInfo">Patient ID</label>
                            <input type="text" class="form-control" id="patientIDPatientInfo" name="patientIDPatientInfo" placeholder="Enter patient ID">
                        </div>
                    </form>
                </br>
                    <div id="patientInfo"></div>
                    
                </div>
            </div>
        </div>

<!-- Create a div where the graphs will take place -->
        <div class="col-md-4">
            
                <div id="blood_test_dates"></div>
                <div id="date"></div>
                <div id="heatmap"></div>
                
            
           

        </div>

        <div class="col-md-5">
            
            <select id="bloodIndicators" class="form-control dropdown_item">
                <option disabled selected>Select Blood Indicator over time...</option>
                <option value="Albumin (g/dL)" name="Albumin (g/dL)">Albumin (g/dL)</option>
                <option value="Alanine aminotransferase ALT (U/L)" name="Alanine aminotransferase ALT (U/L)">Alanine aminotransferase ALT (U/L)</option>
                <option value="Aspartate aminotransferase AST (U/L)" name="Aspartate aminotransferase AST (U/L)">Aspartate aminotransferase AST (U/L)</option>
                <option value="Alkaline phosphatase (U/L)" name="Alkaline phosphatase (U/L)">Alkaline phosphatase (U/L)</option>
                <option value="Blood urea nitrogen (mg/dL)" name="Blood urea nitrogen (mg/dL)">Blood urea nitrogen (mg/dL)</option>
                <option value="Total calcium (mg/dL)" name="Total calcium (mg/dL)">Total calcium (mg/dL)</option>
                <option value="Creatine Phosphokinase (CPK) (IU/L)" name="Creatine Phosphokinase (CPK) (IU/L)">Creatine Phosphokinase (CPK) (IU/L)</option>
                <option value="Cholesterol (mg/dL)" name="Cholesterol (mg/dL)">Cholesterol (mg/dL)</option>
                <option value="Bicarbonate (mmol/L)" name="Bicarbonate (mmol/L)">Bicarbonate (mmol/L)</option>
                <option value="Creatinine (mg/dL)" name="Creatinine (mg/dL)">Creatinine (mg/dL)</option>
                <option value="Gamma glutamyl transferase (U/L)" name="Gamma glutamyl transferase (U/L)">Gamma glutamyl transferase (U/L)</option>
                <option value="Glucose, serum (mg/dL)" name="Glucose, serum (mg/dL)">Glucose, serum (mg/dL)</option>
                <option value="Iron, refrigerated (ug/dL)" name="Iron, refrigerated (ug/dL)">Iron, refrigerated (ug/dL)</option>
                <option value="Lactate Dehydrogenase (U/L)" name="Lactate Dehydrogenase (U/L)">Lactate Dehydrogenase (U/L)</option>
                <option value="Phosphorus (mg/dL)" name="Phosphorus (mg/dL)">Phosphorus (mg/dL)</option>
                <option value="Total bilirubin (mg/dL)" name="Total bilirubin (mg/dL)">Total bilirubin (mg/dL)</option>
                <option value="Total protein (g/dL)" name="Total protein (g/dL)">Total protein (g/dL)</option>
                <option value="Uric acid (mg/dL)" name="Uric acid (mg/dL)">Uric acid (mg/dL)</option>
                <option value="Sodium (mmol/L)" name="Sodium (mmol/L)">Sodium (mmol/L)</option>
                <option value="Potassium (mmol/L)" name="Potassium (mmol/L)">Potassium (mmol/L)</option>
                <option value="Chloride (mmol/L)" name="Chloride (mmol/L)">Chloride (mmol/L)</option>
                <option value="Osmolality (mmol/Kg)" name="Osmolality (mmol/Kg)">Osmolality (mmol/Kg)</option>
                <option value="Globulin (g/dL)" name="Globulin (g/dL)">Globulin (g/dL)</option>
                <option value="Triglycerides (mg/dL)" name="Triglycerides (mg/dL)">Triglycerides (mg/dL)</option>
            </select>

             <!-- Histogram and boxplot-->
            <div id="resultsContainer">
                <div id="histogram"></div>
            </div>
            <div class="mt-1" id="blood_indicator"></div>
            <div id="violin_plot"></div>
            <div id="linechart"> </div>
        </div>

    </div>
</div>

<div class="container-fluid mt-1">
    <!-- Dropdown Row -->
    <div class="row mt-3">
        <div class="col-md-6">
            
        </div>
    </div>


    <!-- Histogram and Mean Row -->
    <div class="row mt-3">
        <div class="col-md-9">
            <div id="heatmaps"></div>
        </div>
        <div class="col-md-3">
            
            
        </div>
        
    </div>
</div>


<!-- Bootstrap JS and dependencies -->
<script src="../static/views.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>