<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blood Tests Visualization App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
   
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    

    <style>
        
        #heatmap {
            width: 200px; /* Adjust the width as needed */
        }
        .active {
            background-color: blue;
            color: white;
        }

        .form-control-file {
            width: 300; /* Adjust the width of the dropdown */
            padding: 8px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            outline: none;
          }
          
          .dropdown_item {
            width: 300px; /* Adjust the width of the dropdown */
            padding: 5px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            outline: none;
          }
    </style>
    
</head>
<body>
<div class="container mt-2">
    <h1 class="mb-4">Blood Tests Visualization App</h1>

    <div class="row">
        <!-- First Card -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Patient Information
                </div>
                <div class="card-body">
                    
                    <form id="patientInfoForm"  style="padding-top: 20px;">
                        <!-- Prevents default form submission -->
                        <div class="form-group">
                            <label for="patientIDPatientInfo">Patient ID</label>
                            <input type="text" class="form-control" id="patientIDPatientInfo" name="patientIDPatientInfo" placeholder="Enter patient ID">
                        </div>
                    </form>
                </br>
                    <div id="patientInfo"></div>

                    <div>
                        <label for="blood_test_dates" id="blood_test_dates">Available Blood Tests Dates</label>
                        <ul></ul>
                    </div>
                    
                </div>
            </div>
        </div>

<!-- Create a div where the graphs will take place -->
        <div class="col-md-1">
            <div class="mt-3" id="warnings" style="width: 300px;"></div>

        </div>

        <div class="col-md-2">
            <div id="date"></div>
            <div id="heatmap"></div>
            
        </div>

    </div>
</div>

<div class="container mt-1">
    <!-- Dropdown Row -->
    <div class="row mt-3">
        <div class="col-md-6">
            <select id="bloodIndicators" class="form-control dropdown_item">
                <option disabled selected>Select Blood Indicator over time...</option>
                <option value="Albumin (g/L)" name="Albumin">Albumin (g/L)</option>
                <option value="Alanine aminotransferase ALT (U/L)" name="Alanine aminotransferase ALT (U/L)">Alanine aminotransferase ALT (U/L)</option>
                <option value="Aspartate aminotransferase AST (U/L)" name="Aspartate aminotransferase AST (U/L)">Aspartate aminotransferase AST (U/L)</option>
                <option value="Alkaline phosphatase (U/L)" name="Alkaline phosphatase (U/L)">Alkaline phosphatase (U/L)</option>
                <option value="Blood urea nitrogen (mmol/L)" name="Blood urea nitrogen (mmol/L)">Blood urea nitrogen (mmol/L)</option>
                <option value="Total calcium (mmol/L)" name="Total calcium (mmol/L)">Total calcium (mmol/L)</option>
                <option value="Creatine Phosphokinase (CPK) (IU/L)" name="Creatine Phosphokinase (CPK) (IU/L)">Creatine Phosphokinase (CPK) (IU/L)</option>
                <option value="Cholesterol (mmol/L)" name="Cholesterol (mmol/L)">Cholesterol (mmol/L)</option>
                <option value="Bicarbonate (mmol/L)" name="Bicarbonate (mmol/L)">Bicarbonate (mmol/L)</option>
                <option value="Creatinine (umol/L)" name="Creatinine (umol/L)">Creatinine (umol/L)</option>
                <option value="Gamma glutamyl transferase (U/L)" name="Gamma glutamyl transferase (U/L)">Gamma glutamyl transferase (U/L)</option>
                <option value="Glucose, serum (mmol/L)" name="Glucose, serum (mmol/L)">Glucose, serum (mmol/L)</option>
                <option value="Iron, refrigerated (umol/L)" name="Iron, refrigerated (umol/L)">Iron, refrigerated (umol/L)</option>
                <option value="Lactate Dehydrogenase (U/L)" name="Lactate Dehydrogenase (U/L)">Lactate Dehydrogenase (U/L)</option>
                <option value="Phosphorus (mmol/L)" name="Phosphorus (mmol/L)">Phosphorus (mmol/L)</option>
                <option value="Total bilirubin (umol/L)" name="Total bilirubin (umol/L)">Total bilirubin (umol/L)</option>
                <option value="Total protein (g/L)" name="Total protein (g/L)">Total protein (g/L)</option>
                <option value="Uric acid (umol/L)" name="Uric acid (umol/L)">Uric acid (umol/L)</option>
                <option value="Sodium (mmol/L)" name="Sodium (mmol/L)">Sodium (mmol/L)</option>
                <option value="Potassium (mmol/L)" name="Potassium (mmol/L)">Potassium (mmol/L)</option>
                <option value="Chloride (mmol/L)" name="Chloride (mmol/L)">Chloride (mmol/L)</option>
                <option value="Osmolality (mmol/Kg)" name="Osmolality (mmol/Kg)">Osmolality (mmol/Kg)</option>
                <option value="Globulin (g/L)" name="Globulin (g/L)">Globulin (g/L)</option>
                <option value="Triglycerides (mmol/L)" name="Triglycerides (mmol/L)">Triglycerides (mmol/L)</option>
            </select>
    </div>



    <!-- Histogram and Mean Row -->
    <div class="row mt-3">
        <div class="col-md-9">
            <div id="resultsContainer">
                <div id="histogram"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mt-3" id="blood_indicator"></div>
            <div class="mt-3" id="violin_plot"></div>
            <div>
                <label for="userInput2">Demographic Distribution:</label>
                <input class="mt-2" type="text" id="userInput2" step="any" placeholder="Write Blood Indicator">
                <input class="mt-2"type="number" id="userInput" step="any" placeholder="Write Blood Level">
                <button class="mt-2" onclick="updateBoxPlot()">Update Box Plot</button>
                <div id="box-plot"></div>
            </div>
        </div>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



<script>

    // Function to update the box plot with user input
    async function updateBoxPlot() {
        // Fetch blood indicator statistics
        var bloodIndicator = document.getElementById("userInput2").value;
        var response = await fetch(`/statistics/${bloodIndicator}`);
        var fetchedData = await response.json();

        // Get the user input value
        var userInput = parseFloat(document.getElementById("userInput").value);

        // Draw the box plot with fetched data and user input
        drawBoxPlot(fetchedData, userInput);
    }

    // Function to draw the box plot
function drawBoxPlot(data, userInput) {
    console.log(data);
    // set the dimensions and margins of the graph
    var margin = { top: 50, right: 40, bottom: 30, left: 10 },
        width = 400 - margin.left - margin.right,
        height = 200 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#box-plot")
        .html("")  // Clear previous content
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // Compute summary statistics used for the box
    var q1 = data.q1;
    var median = data.median;
    var q3 = data.q3;
    var iqr = data.iqr;

    // Use lower_bound and upper_bound directly
    var min = data.lower_bound;
    var max = data.upper_bound;

    // Show the X scale with dynamic domain
    var x = d3.scaleLinear()
        .domain([min, max])
        .range([0, width]);
    svg.call(d3.axisBottom(x));

    // a few features for the box
    var center = height / 2;
    var boxHeight = 50;

    // Show the main horizontal line
    svg.append("line")
        .attr("class", "main-line")
        .attr("y1", center)
        .attr("y2", center)
        .attr("x1", x(min))
        .attr("x2", x(max))
        .attr("stroke", "#333"); // Dark gray

    // Show the box
    svg.append("rect")
        .attr("class", "box")
        .attr("y", center - boxHeight / 2)
        .attr("x", x(q1))
        .attr("width", (x(q3) - x(q1)))
        .attr("height", boxHeight)
        .attr("stroke", "#333") // Dark gray
        .style("fill", "#ddd"); // Light gray

    // Show median, min, max, and user input vertical lines
    svg.selectAll(".lines")
        .data([min, median, max, userInput])
        .enter()
        .append("line")
        .attr("class", "lines")
        .attr("y1", center - boxHeight / 2)
        .attr("y2", center + boxHeight / 2)
        .attr("x1", function (d) { return x(d); })
        .attr("x2", function (d) { return x(d); })
        .attr("stroke", function (d) { return (d === userInput) ? "red" : "#666"; }); // White for user input, Dark gray for others
}


    
    let input = document.getElementById('patientIDPatientInfo');
    input.addEventListener('input', async function () {
        // Get values from form inputs
        var patientID = input.value;

        // Check if there is no input
        if (!patientID) {
            // Clear patient information and blood test dates if no input
            document.getElementById('patientInfo').innerHTML = '';
            document.querySelector('ul').innerHTML = '';
            return;
        }

        // Use JavaScript to fetch patient data
        const patientData = await fetchPatientData(patientID);

        // Display patient information
        displayPatientInfo(patientData);

        // Fetch and display blood dates
        let response = await fetch('/blood_dates?q=' + patientID);
        let dates = await response.json();
        let html = '';
        for (let date of dates) {
            html += `<li><button class="date-button" onclick="drawHeatmap('${patientID}', '${date.DATE}'); toggleButton(this); return false;">${date.DATE}</button></li>`;
        }

        document.querySelector('ul').innerHTML = html;
    });

    async function fetchPatientData(patientID) {
        const url = `/${patientID}/raw`;

        try {
            const response = await fetch(url, { method: 'POST' });
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        } catch (error) {
            console.error('Error fetching patient data:', error);
            // Handle errors here, e.g., display an error message to the user
        }
    }

    function displayPatientInfo(data) {
        if (data && data.length > 0) {
            const patientInfo = data[0];
            const patientInfoHtml = `
                <p><strong>Patient ID:</strong> ${patientInfo.ID}</p>
                <p><strong>First Name:</strong> ${patientInfo.FIRST_NAME}</p>
                <p><strong>Last Name:</strong> ${patientInfo.LAST_NAME}</p>
                <p><strong>Birth Date:</strong> ${patientInfo.BIRTH_DATE}</p>
                <p><strong>Gender:</strong> ${patientInfo.GENDER}</p>
                <p><strong>Age:</strong> ${patientInfo.AGE}</p>
            `;
            document.getElementById('patientInfo').innerHTML = patientInfoHtml;
        } else {
            // Clear patient information if there's no data
            document.getElementById('patientInfo').innerHTML = '';
        }
    }


    
    let dropdown = document.getElementById('bloodIndicators');
    dropdown.addEventListener('change', async function () {
        try {
            let references = await fetch('/blood_tests_references/raw/' + input.value);
            let ranges = await references.json();
            let response = await fetch('/all_blood_tests/raw/' + input.value);
            let blood_tests = await response.json();
            getValuesOverTime(blood_tests, dropdown.value, ranges);
        } catch (error) {
            console.error('Error fetching or parsing data:', error);
        }
    });

    function getValuesOverTime(formattedBloodTests, selectedIndicator, ranges) {
        // Filter blood tests for the selected indicator
        const filteredTests = formattedBloodTests.filter(test => selectedIndicator in test);
    
        // Check if the selected indicator is present in the test
        if (filteredTests.length === 0) {
            console.log('No data found for the selected indicator:', selectedIndicator);
            document.getElementById('resultsContainer').innerHTML = 'No data found for the selected indicator: ' + selectedIndicator;
            return;
        }
    
        // Extract dates and values for the selected indicator
        const blood_indicator_history = filteredTests.map(test => {
            return {
                DATE: test['DATE'][0],
                Value: test[selectedIndicator]
            };
        });
        console.log(blood_indicator_history)
        const range = ranges[selectedIndicator]
       
        // Display results on the screen
        const resultContainer = document.getElementById('resultsContainer');
        //resultContainer.innerHTML = '<h4>Results overtime for ' + selectedIndicator + '</h4>';
    
        display_history_mean(range, blood_indicator_history, selectedIndicator)
        generateHistogram(blood_indicator_history,selectedIndicator )
    }

    function display_history_mean(referenceRange, blood_indicator_history, selectedIndicator) {
        // Calculate the mean of the blood indicator values
        const values = blood_indicator_history.map(entry => entry.Value[0]);
        
        // Display the mean and reference range in the "mean" div
        const blood_indicator = document.getElementById('blood_indicator');
        blood_indicator.innerHTML = `
            <h5>${selectedIndicator}</h5>
            <p><strong>Reference Range:</strong> ${referenceRange.min.toFixed(2)} - ${referenceRange.max.toFixed(2)}</p>
        `;
    }
    

    function generateHistogram(data, selectedIndicator) {
        d3.select('#histogram').selectAll('*').remove();
        // Set up margin, width, and height
        const margin = { top: 50, right: 20, bottom: 100, left: 40 };
        const width = 700 - margin.left - margin.right;
        const height = 400 - margin.top - margin.bottom;
    
        // Create SVG element
        const svg = d3.select("#histogram")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
        // Extract unique values for color mapping
        const uniqueColors = Array.from(new Set(data.map(entry => entry.Value[1])));
    
        // Define color scale
        const colorScale = d3.scaleOrdinal()
            .domain(['green', 'yellow', 'red'])
            .range(['green', '#ffd800', '#c80815']);
    
        // Set up X and Y scales
        const xScale = d3.scaleBand()
            .domain(data.map(entry => entry.DATE))
            .range([0, width])
            .padding(0.1);
    
        const yScale = d3.scaleLinear()
            .domain([0, d3.max(data, entry => entry.Value[0])])
            .range([height, 0]);
    
        // Add X-axis
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(xScale))
            .selectAll("text")
            .style("text-anchor", "end")
            .attr("transform", "rotate(-45)")
            .attr("dy", ".35em")
            .attr("dx", "-.8em")
            .style("font-size", "12px"); // Adjust the font size as needed
    
        // Add Y-axis
        svg.append("g")
            .call(d3.axisLeft(yScale))
            .selectAll("text")
            .style("font-size", "12px");
    
        // Add title
        svg.append("text")
            .attr("x", width / 2)
            .attr("y", 0 - margin.top / 2)
            .attr("text-anchor", "middle")
            .style("font-size", "16px")
            .text(`${selectedIndicator} Over Time`);
    
        // Add bars
        svg.selectAll(".bar")
            .data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", entry => xScale(entry.DATE))
            .attr("y", entry => yScale(entry.Value[0]))
            .attr("width", xScale.bandwidth()) 
            .attr("height", entry => height - yScale(entry.Value[0]))
            .attr("fill", entry => colorScale(entry.Value[1]))
    
        // Add labels for each bar
        svg.selectAll(".bar-label")
            .data(data)
            .enter().append("text")
            .attr("class", "bar-label")
            .attr("x", entry => xScale(entry.DATE) + xScale.bandwidth() / 2)
            .attr("y", entry => yScale(entry.Value[0]) - 5) // Adjust the vertical position as needed
            .attr("text-anchor", "middle")
            .style("font-size", "12px") // Adjust the font size as needed
            .text(entry => entry.Value[0]);
    }
    
    
    let activeButton = null;

    function toggleButton(button) {
        if (activeButton) {
            // If there's an active button, remove the 'active' class
            activeButton.classList.remove('active');
        }

        // Add the 'active' class to the clicked button
        button.classList.add('active');
        // Set the clicked button as the active button
        activeButton = button;
    }


    function drawHeatmap(patientID, date) {

        // Remove existing SVG element
        d3.select('#heatmap').selectAll('*').remove();
        d3.select('#date').remove();
        fetch(`/blood_tests/raw/${patientID}?date=${date}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
                
            })
            .then(data => {
                
            const combined_dict = data; 
            // Convert data to suitable format
            const dataArray = [];
            const dict = data; // Assuming there's only one dictionary in the list
            red_indictors = FindRedIndicators(dict)
            console.log(red_indictors)

            // Iterate over the dictionary entries
            for (const [key, [value, color]] of Object.entries(dict)) {
                dataArray.push({ key, value, color });
            }

        
            // Define margin and cell size
            const margin = { top: 10, right: 0, bottom: 20, left: 240 };
            const cellSize = 30;
            const cellWidth = 200;
            const cellHeight = 25;

            d3.select('#date').text(`Blood test: ${date}`);
            // Create SVG element
            const svg = d3.select('#heatmap').append('svg')
                .attr('width', 600) // Increased width to accommodate values on the right
                .attr('height', dataArray.length * cellHeight + margin.top + margin.bottom)
                .style('margin', margin.top + 'px ' + margin.right + 'px ' + margin.bottom + 'px ' + margin.left + 'px');

            // Define color scale based on color strings
            const colorScale = d3.scaleOrdinal()
                .domain(['green', 'yellow', 'red'])
                .range(['green', '#ffd800', '#c80815']);

            // Draw cells
            svg.selectAll('rect')
                .data(dataArray)
                .enter().append('rect')
                .attr('x', margin.left)
                .attr('y', (d, i) => margin.top + i * cellHeight)
                .attr('width', cellWidth)
                .attr('height', cellHeight)
                .style('fill', d => colorScale(d.color))
                .on('mouseover', function (event, d) {
                    // Display blood level on mouse hover
                    d3.select(this).append('title').text(`Blood Level: ${d.value}`);
                });

            // Add y-axis labels with word wrapping
            svg.selectAll('text')
            .data(dataArray)
            .enter().append('text')
            .attr('x', margin.left - 10)
            .attr('y', (d, i) => margin.top + i * cellHeight + cellHeight / 2)
            .attr('dy', '0.10em')
            .style('text-anchor', 'end')
            .style('alignment-baseline', 'middle')
            .style('fill', 'black')
            .text(function (d) {
                // Extract and display only the relevant part of the key
                const words = d.key.split(/\s+/);
                const keyWithoutUnits = words.slice(0, -1).join(' '); // Exclude the last word (metric unit)
                return keyWithoutUnits;
            });

            // Draw black lines between cells
            svg.selectAll('line')
                .data(dataArray)
                .enter().append('line')
                .attr('x1', margin.left)
                .attr('x2', margin.left + cellWidth)
                .attr('y1', (d, i) => margin.top + (i + 1) * cellHeight)
                .attr('y2', (d, i) => margin.top + (i + 1) * cellHeight)
                .style('stroke', 'black');

            
            // Add text elements to display values and metric units on the right side of the heatmap
            svg.selectAll('.value-text')
            .data(dataArray)
            .enter().append('text')
            .attr('class', 'value-text')
            .attr('x', margin.left + cellWidth + 10)
            .attr('y', (d, i) => margin.top + i * cellHeight + cellHeight / 2)
            .attr('dy', '0.20em')
            .style('fill', 'black')
            .text(d => `${d.value} ${d.key.split(/\s+/).pop()}`); 

            

        })
        .catch(error => {
            console.error('Error fetching data:', error);
            // Add error handling here, e.g., display an error message to the user
        });
}

    function displayRedBloodIndicatorInfo(redIndicators) {
        // Define information for each blood indicator
        const bloodIndicatorInfo = {
            "Alanine aminotransferase ALT": {
                info: "High levels can be an indication of liver damage.",
            },
            "Albumin": {
                info: "Abnormal levels can be caused by liver or kidney problems.",
            },
            "Total protein": {
                info: "Low protein levels can indicate various conditions, including liver and kidney disorders and malnutrition, while high levels can be a sign of inflammation, infection, or bone marrow disorder.",
            },
            "Alkaline phosphatase": {
                info: "Results outside of the normal levels can signal liver damage and bone problems such as rickets or bone tumors.",
            },
            "Aspartate aminotransferase AST": {
                info: "Results above the healthy range indicating a variety of conditions, including some types of cancer, as well as liver, heart, or kidney damage.",
            },
            "Total bilirubin": {
                info: "Warning for kidney and liver dysfunction.Possible outcomes: neonatal jaundice, anemia, and liver diseases.",
            },
            "Blood urea nitrogen": {
                info: "High levels can be caused by kidney damage or disease, while low levels may be a sign of malnutrition or severe liver damage.",
            },
            "Bicarbonate": {
                info: "Aberrations in bicarbonate levels, whether low due to conditions like kidney disease or diabetic ketoacidosis or high from factors like vomiting or kidney disorders, pose risks such as disruptions in bodily functions, impaired nerve-muscle coordination, and potential electrolyte imbalances.",
            },
            "Total calcium": {
                info: "Calcium low levels can indicate under-active parathyroid glands, insufficient calcium in your diet, or Vit D insufficiency, and other less common conditions. High levels can indicate conditions including over-active parathyroid glands, excessive Vit D supplementation, kidney problems as well as more concerning causes that usually require further investigation. Proper interpretation of calcium levels often requires testing of other parameters such as total serum protein and albumin.",
            },
            "Chloride": {
                info: "An increased level of chloride can indicate dehydration as well as kidney disorders and adrenal gland dysfunction.",
            },
            "Cholesterol": {
                info: "Abnormal cholesterol levels, whether elevated due to factors like poor diet or genetics or lowered as a result of certain medical conditions, can pose risks such as cardiovascular issues, impaired artery function, and increased susceptibility to heart-related complications.",
            },
            "Creatinine": {
                info: "Increased levels of creatinine can be a sign of kidney dysfunction.",
            },
            "Creatine Phosphokinase (CPK)": {
                info: "Deviations in Creatine Phosphokinase (CPK) levels, whether heightened due to muscle injury or heart issues or diminished as a result of certain medications or genetic factors, can pose risks such as muscle damage, cardiac complications, and potential adverse effects related to the underlying causes.",
            },
            "Glucose, serum": {
                info: "Abnormal levels results can indicate diabetes, among other medical conditions.",
            },
            "Gamma glutamyl transferase": {
                info: "Fluctuations in Gamma Glutamyl Transferase (GGT) levels, whether elevated due to liver conditions or excessive alcohol consumption, or reduced as a result of certain medications or dietary factors, can pose risks such as liver dysfunction, potential complications related to alcohol abuse, and impacts on overall metabolic health.",
            },
            "Globulin": {
                info: "Abnormalities in Globulin levels, whether increased due to inflammatory conditions or decreased as a result of malnutrition or certain immune disorders, can pose risks such as compromised immune function, potential organ damage, and susceptibility to infections or autoimmune complications.",
            },
            "Phosphorus": {
                info: "Elevated levels can indicate problems with the kidneys and parathyroid glands, and they may be a sign of malnutrition or alcohol abuse.",
            },
            "Potassium": {
                info: "Potassium aids the communication between nerves and muscles, regulates the heart and maintains muscle function. Diuretics (a substance or medication used to increase urination) can cause potassium levels to fall.",
            },
            "Sodium": {
                info: "Irregularities are a possible indication of dehydration, adrenal gland disorders, corticosteroids, and kidney or liver disorders.",
            },
            "Iron, refrigerated": {
                info: "Iron, when refrigerated, remains stable and does not undergo significant changes in its properties or efficacy, ensuring its suitability for various applications without risks associated with alterations in composition or effectiveness.",
            },
            "Lactate Dehydrogenase": {
                info: "Changes in Lactate Dehydrogenase (LDH) levels, whether elevated due to tissue damage or reduced as a result of certain medical treatments, can pose risks such as cellular dysfunction, potential organ damage, and implications related to the underlying health conditions.",
            },
            "Osmolality": {
                info: "Fluctuations in osmolality levels, whether increased due to dehydration or decreased as a result of overhydration, can pose risks such as impaired cellular function, potential electrolyte imbalances, and complications related to the body's fluid balance.",
            },
            "Triglycerides": {
                info: "Abnormalities in Triglyceride levels, whether elevated due to factors like poor diet or genetic predisposition, or lowered as a result of lifestyle modifications or medication, can pose risks such as cardiovascular issues, compromised lipid metabolism, and increased susceptibility to heart-related complications.",
            },
            "Uric acid": {
                info: "Deviation in Uric Acid levels, whether elevated due to conditions like gout or kidney dysfunction, or reduced as a result of certain medications or dietary changes, can pose risks such as joint inflammation, potential kidney damage, and complications associated with the underlying health conditions.",
            },
            
        };

        // Get the div where warnings will be displayed
        const warningsDiv = document.getElementById("warnings");
        // Clear existing warnings
        warningsDiv.innerHTML = '';

        // Iterate over the red indicators and display the information
        redIndicators.forEach(indicator => {
            // Check if the indicator exists in bloodIndicatorInfo
            indicator = indicator.split(' ').slice(0, -1).join(' ');
            if (bloodIndicatorInfo[indicator]) {
                const indicatorInfo = bloodIndicatorInfo[indicator];

                // Create a new paragraph element for the indicator
                const indicatorParagraph = document.createElement("p");

                // Create a button for the indicator and set its color to red
                const indicatorButton = document.createElement("button");
                indicatorButton.style.color = "red";
                indicatorButton.textContent = `\u25BC ${indicator}`; // Unicode arrow down character

                // Append the button to the indicator paragraph
                indicatorParagraph.appendChild(indicatorButton);

                // Append the indicator paragraph to the warnings div
                warningsDiv.appendChild(indicatorParagraph);

                // Create a new paragraph element for the indicatorInfo
                const infoParagraph = document.createElement("p");

                // Create a span for the indicatorInfo
                const indicatorInfoSpan = document.createElement("span");
                indicatorInfoSpan.textContent = ` ${indicatorInfo.info}`;
                indicatorInfoSpan.style.display = "none"; // Initially hide the info

                // Add event listener to toggle visibility on click
                indicatorButton.addEventListener("click", function () {
                    indicatorInfoSpan.style.display = (indicatorInfoSpan.style.display === "none") ? "inline" : "none";
                });

                // Append the indicatorInfo span to the info paragraph
                infoParagraph.appendChild(indicatorInfoSpan);

                // Append the info paragraph to the warnings div
                warningsDiv.appendChild(infoParagraph);

            } else {
                console.warn(`Information not available for blood indicator: ${indicator}`);
            }
        });



}
        
    function FindRedIndicators(blood_test) {

        let redIndicators = [];

        // Iterate over the properties of the blood_test object
        for (const key of Object.keys(blood_test)) {
            const color = blood_test[key][1];
            
            // Check if the color is red
            if (color === "red") {
                redIndicators.push(key);
            }
        }
    
        // Call function to display blood indicator info
        displayRedBloodIndicatorInfo(redIndicators);
        return redIndicators;

}

</script>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>